/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/bootstrap/compiled.php

/build/logs
/build/coverage

/.idea
/_ide_helper.php

.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage
composer.lock
composer.phar

/app/config/packages
/public/packages
